# --- standalone (no dongle) ---
config SHIELD_ANYWHY_FLAKE_LEFT
    def_bool $(shields_list_contains,anywhy_flake_left)

config SHIELD_ANYWHY_FLAKE_RIGHT
    def_bool $(shields_list_contains,anywhy_flake_right)

# --- dongle setup ---
config SHIELD_ANYWHY_FLAKE_CENTRAL_DONGLE
    def_bool $(shields_list_contains,anywhy_flake_central_dongle)

config SHIELD_ANYWHY_FLAKE_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,anywhy_flake_peripheral_left)

config SHIELD_ANYWHY_FLAKE_PERIPHERAL_RIGHT
    def_bool $(shields_list_contains,anywhy_flake_peripheral_right)
